@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-page-1{
    font-family: "Parisienne", sans-serif;
    font-size: 20px;
    margin-bottom: 0 !important;
}

.title-page-2{
    font-weight: bold;
    margin-bottom: 20px !important;
}

.card{
    border: none !important;
}

.card-img{
    border-radius: 10px !important;
}


.navbar{
    padding: 20px 0 !important;
}

.logo{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px !important;
}

.nav-link{
    font-weight: 600 !important;
}

.nav-link:hover, .active{
    color: #E32934 !important;
}

.cto{
    margin-left: 30px;
}

.cto a.btn{
    border-radius: 30px !important;
    font-size: 16px;
    border: 2px solid #E32934 !important;
    color: #E32934 !important;
}

.cto a.btn:hover{
    background-color: #E32934 !important;
    color: #fff !important;
}

/* slider section  */

.slider{
    height: 90vh;    
    width: 90%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;    
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: #14ff72cb;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    background: #14ff72;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;

    border-radius: 30px !important;
    font-size: 16px;
    border: 2px solid #14ff72cb;
    color: #fff;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}


/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;    
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}


/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}



/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}

/* About-us section */
.about-us{
    margin: 80px 0;
}

.about-content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us .fa-logo{
    font-size: 30px;
    border: 1px solid #ecebeb;
    color: #66cbfa;
    padding: 20px;
    margin: 10px 0 !important;
    border-radius: 50px;
}

.about-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 35% !important;
}

.descri-title{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

.about-cto{
    margin-left: 30px;
}

.about-cto a.btn, 
.choose-cto a.btn{
    background-color: #080130;
    border-radius: 30px !important;
    font-size: 16px;
    border: 1px solid #080130 !important;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 10px 15px;
    margin-left: -30px;
}

.about-cto a.btn:hover,
.choose-cto a.btn:hover{
    background-color: #fff !important;
    color: #080130 !important;
}

.add-client{
    border: 1px solid #080130;
    border-radius: 20px;
    background-color: #080130;
    padding: 10px;
    margin-left: 120px;
    width: 45px;
    color: #fff;
}

.add-client:hover{
    background-color: #fff;
    color: #080130;
    transition: 0.2s;
}

.about-img{
    flex-basis: 65% !important;
}

.about-img-1{
    width: 90%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.about-img-2{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    margin-left: 270px;
    margin-top: -200px;
    border: 5px solid #fff;
}


/* Destination section */
.destination{
    margin: 50px 0;
}

.destination-img{
    height: 197px !important;
}

.destination .title-page-1,
.destination .title-page-2{
    margin-left: 10px;
}


/* Choose us section */
.choose{
    background-color: #d7d2be6e;
    padding: 20px 0;
    height: 460px !important;
    margin: 30px 0 !important;
}

.choose-content{
    margin: 40px 0 !important;
}

.chooseus-1{
    display: flex;
    flex-direction: column;
    height: 450px !important;
}

.choose .title-page-1,
.choose .title-page-2{
    margin-left: -10px !important;
}

.choose-cto{
    margin-left: 20px !important;
}

.choose-cto .btn{
    width: 130px !important;
    margin-top: 40px !important;
}

.choose-2{
    width: 350px !important;
    margin-left: -10px !important;
}

.chooseus-2 img, card{
    height: 350px !important;
    border-radius: 10px !important;
}

.chooseus-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 400px !important;
}

.chooseus-3 .fa-logo{
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.192);
    box-shadow: 1px 0px 15px 1px rgba(128, 128, 128, 0.192);
    margin: 10px 10px !important;
    padding: 15px !important;
    color: #66cbfa;
    font-size: 20px !important;
    text-align: center;
    border-radius: 50px;
    height: 50px !important;
}

.chooseus-3 .descri-title{
    font-size: 16px;
    font-weight: bold;
}

.chooseus-3 .descri-1{
    display: flex;
    font-size: 14px !important;
}


/* Section packages */
.packages{
    margin: 60px 0 !important;
}

.packages-content-1 .title-page-2{
    margin-bottom: 20px !important;
}

.packages .card img{
    border-radius: 10px !important;
}

.packages .card img:hover, .fa-heart:hover{
    padding: 8px;
    border-radius: 20px !important;
}

.packages .card .heart-bt{
    position: relative;
    bottom: 20px;
    right: -200px;
    width: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
}

.packages .card .heart-bt i{
    color: #E32934;
}

.packages .card-body .card-title,
.packages .card-body .card-text{
    text-align: left !important;
    margin-left: -12px !important;
    padding: 3px 0 !important;
}

.packages .card-body .card-text{
    border-bottom: 1px solid rgb(202, 199, 199);
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
}

.packages .card-body .card-title,
.packages .fa-location-dot,
.packages .fa-clock{
    color: #0EB4CA !important;
}

.packages-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.packages-icon p{
    font-size: 12px !important;
}

.packages .fa-location-dot,
.packages .fa-clock{
    margin: 0 4px !important;
}

/* Destionation 2 for video */
.destination-2{
    background-color: #f5f3f3;
    padding: 50px 0 !important;
    height: auto !important;
    margin: 30px 0 !important;
}

.destinat-cto a.btn{
    background-color: #080130;
    border-radius: 30px !important;
    font-size: 16px;
    border: 1px solid #080130 !important;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 10px 15px;
}

.destinat-cto a.btn:hover{
    background-color: #fff !important;
    color: #080130 !important;
}

.destinat-2 .card-video{
    width: 100% !important;
    height: 500px !important;
    object-fit: cover;
    margin-top: 50px !important;
    border-radius: 20px !important;
}

/* Testimonials section */
.testimonials{
    margin: 50px 0 !important;
}

.owl-carousel .owl-1{
    padding: 15px 0 !important;
    border-radius: 10px !important;
    background-color: rgb(247, 245, 245);
}

.owl-carousel .owl-1 .card{
    background-color: rgb(247, 245, 245);
}

.owl-carousel .owl-1 .subtitle i{
    color: #E32934;
}

.owl-carousel .card-1{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.owl-carousel .pic-1{
    border-bottom: 1px solid rgb(219, 218, 218);
}

.owl-carousel .pic-1 img{
    width: 30px !important;
    height: 30px !important;
    border-radius: 20px;
}


/* News letter section */
.news-article{
    background-color: #f5f3f3;
    margin-top: 50px !important;
    padding: 70px 0 !important;
}

.news-article-content{
    margin-bottom: 20px !important;
}

.news-article .card-text-1{
    font-weight: bold;
}

.big-card{
    margin-left: -13px !important;
}

.news-article img{
    border-radius: 10px !important;
}


/* Footer section */
footer{
    background-color: rgb(0, 0, 34);
    padding: 50px 0 0 0;
    color: #fff;
}

footer .logo-footer .logo{
    color: #fff;
}

footer .logo-footer img{
    margin: 0 60px;
}

.w-reduit{
    width: 350px;
}

footer h6{
    padding-bottom: 10px !important;
}

footer i{
    font-size: 15px;
}

footer .bgc-red i{
    background-color: #E32934;
    padding: 10px 12px !important;
    border-radius: 100px !important;
}

footer .bgc-blue-2 i{
    width: 30px !important;
    margin-left: -60px !important;
}

footer .bgc-blue-3 i{
    width: 30px !important;
    margin-left: -112px !important;
}

footer .bgc-blue-4 i{
    width: 30px !important;
    margin-left: -170px !important;
}

.social-media a{
    text-decoration: none;
    color: #fff;
}

.social-media a:hover{
    color: #E32934;
}

.social-media i{
    font-size: 17px;
}

footer ul li{
    list-style-type: none;
    padding-bottom: 5px !important;
}

footer .link-footer:hover{
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid #fff;
}

footer .link-footer, .grey-text{
    text-decoration: none;
    color: rgb(165, 162, 162);
    font-size: 12px;
}

.footer-content-1, .footer-content-2{
    border-bottom: 1px solid grey;
}

.pd-bottom{
    padding-bottom: 50px !important;
}

.pd{
    padding: 40px 0 20px 0 !important;
}

.pd-1{
    padding: 20px 0 0 0 !important;
}

.footer-content-3 .m-rt{
    margin-right: -150px !important;
}

.footer-content-3 .m-left{
    margin-left: -110px !important;
}

